[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fecfile = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
us = "*"
geopandas = "*"
descartes = "*"
nbexec = "*"

[dev-packages]

[requires]
python_version = "3.6"
